<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mvc04</display-name>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>com.bit.controller.IndexController</servlet-class>
    <init-param>
      <param-name>msg</param-name>
      <param-value>index page</param-value>
    </init-param>
    <init-param>
      <param-name>msg2</param-name>
      <param-value>index page</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.bit</url-pattern>
  </servlet-mapping>
</web-app>